- name: Desktop | Install display manager
  ansible.builtin.include_role:
    name: packages
    tasks_from: install.yml
  vars:
    packages_pacman_packages:
      - "{{ desktop_dm | default('sddm') }}"

- name: Desktop | Enable display manager (do not start)
  become: true
  ansible.builtin.systemd:
    name: "{{ (desktop_dm | default('sddm')) }}.service"
    enabled: true
    state: stopped

- name: Desktop | Default to graphical target (so DM starts on boot)
  become: true
  ansible.builtin.command: systemctl set-default graphical.target
  changed_when: false
  when: desktop_enable_dm | bool

