# Reflector configuration file for the systemd service.
#
# Empty lines and lines beginning with "#" are ignored.  All other lines should
# contain valid reflector command-line arguments. The lines are parsed with
# Python's shlex modules so standard shell syntax should work. All arguments are
# collected into a single argument list.
#
# See "reflector --help" for details.

# Recommended Options

# Set the output path where the mirrorlist will be saved (--save).
--save {{ bootstrap_reflector_save_path }}

# Select the transfer protocol (--protocol).
--protocol {{ bootstrap_reflector_protocols | join(',') }}

# Use only the  most recently synchronized mirrors (--latest).
--latest {{ bootstrap_reflector_latest }}

# Sort the mirrors by synchronization time (--sort).
--sort {{ bootstrap_reflector_sort }}

# Select the country (--country).
# Consult the list of available countries with "reflector --list-countries" and
# select the countries nearest to you or the ones that you trust. For example:
# --country France,Germany
{% if bootstrap_reflector_countries | length > 0 -%}
--country {{ bootstrap_reflector_countries | join(',') }}
{% endif -%}
